header{
    background-color: turquoise;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 20px;
}
nav a{
    color: black;
    text-decoration: rgb(255, 0, 0);
    font-weight: bold;
}
nav a :hover{
    color: chocolate;
}
.uno{
    width: 100%;
    margin: 20px auto;
    padding: 20px auto;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow:  0 0 10px rgb(68, 0, 255);
}
.uno h2{
    color: brown;
}
.uno p{
    color: darkcyan;
    font-size: 20px;
    line-height: 1.6;
}
footer{
    background-color: gray;
    color: darkblue;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
}