/*Estilo de emcabezado*/
header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 20;
}
/*Estilo de barra de navegadores y al dar clic*/
nav a{
    background-color: lightgray;
    color: black;
    text-decoration: rgb(255, 0, 0);
    font-weight: bold;
}
nav a :hover{
    color: purple;
}
/*Estilo de seccion principal,Subtitulos, parrafos*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 20px auto;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow:  0 0 10px rgb(68, 0, 255);
}
.contenedor h2{
    color: brown;
}
.contenedor p{
    color: darkcyan;
    font-size: 20px;
    line-height: 1.6;
}
/*Estilo de Pie de pagina*/
footer{
    background-color: gainsboro;
    color: darkblue;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}